<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:label="e2ee_ap_v2"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!--
            wirebare-kernel SimpleWireBareProxyService (sed-rename: top.sankokomi.wirebare -> com.opene2ee.e2ee_ap_v2.vpn)
            Sprint 21: wirebare-kernel kendi VpnService'i birebir kullaniliyor (custom service yazma YASAK).
            Bu service wirebare-kernel'in kendi service'i, Sprint 14-20'deki custom OpenE2eeVpnService'in yerini alir.
        -->
        <service
            android:name="com.opene2ee.e2ee_ap_v2.vpn.service.SimpleWireBareProxyService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
                <action android:name="com.opene2ee.e2ee_ap_v2.vpn.core.action.Start" />
                <action android:name="com.opene2ee.e2ee_ap_v2.vpn.core.action.Stop" />
            </intent-filter>
        </service>

        <!--
            Sprint 21.1 fix: WireBareInitializer ContentProvider. App process baslangicinda
            onCreate() cagirilir, icindeki `WireBare attach context!!` satiri `appContext` field'ini
            set eder. Bu olmadan WireBare.startProxy() icindeki `ContextCompat.startForegroundService(appContext, ...)`
            UninitializedPropertyAccessException firlatir.
        -->
        <provider
            android:name="com.opene2ee.e2ee_ap_v2.vpn.common.WireBareInitializer"
            android:exported="false"
            android:authorities="com.opene2ee.e2ee_ap_v2.wirebare.init" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <!-- WhatsApp deep link görünürlüğü (Sprint 22.3).
             Android 11+ (API 30+) paket görünürlüğü kısıtlaması
             nedeniyle wa.me + intent:// her iki yöntem de
             canLaunchUrl=false döndürüyordu. Manifest'te
             explicit olarak WhatsApp paketi + wa.me şeması +
             SEND intent'i tanımlamak gerekiyor. -->
        <package android:name="com.whatsapp" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="wa.me" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="whatsapp" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:scheme="whatsapp" />
        </intent>

        <!-- Flutter engine'in text processing için kullandığı
             PROCESS_TEXT intent görünürlüğü. -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
